---
import { Image } from "astro:assets";
import IconCheckCircle from "../../../assets/svgs/ic_check_circle.svg";
import ImgOnboarding from "../../../assets/onboarding.png";
---

<div class="bg-[linear-gradient(180deg,#004bff,#4ceaac)] h-auto mb-52">
  <div class="pt-36">
    <div class="max-w-screen-xl m-auto">
      <div class="flex flex-col gap-14">
        <div class="flex gap-5 flex-col text-center text-white">
          <h1 class="text-5xl font-bold">
            Comprehensive Polkadot, <br />Substrate &amp; Ethereum wallet
          </h1>
          <p class="text-base font-semibold">
            Empower the next blockchain revolution with a one-stop-shop for the
            multichain
          </p>
          <div class="flex gap-3 justify-center mt-5">
            <a
              class="button flex gap-2.5 bg-black px-9 py-3 rounded-3xl border-solid border-2 border-black shadow-[0_0_0_4px_hsla(0,0%,100%,.12)] hover:shadow-[0_0_0_.2rem_black] transition-shadow duration-300 ease-in-out"
              href="#"
              target="_blank"
            >
              <span class="button-icon">
                <Image src={IconCheckCircle} alt="USA" width={25} height={25} />
              </span>
              <span class="text-base font-semibold">Extension</span>
            </a>
            <a
              class="button flex gap-2.5 bg-black px-9 py-3 rounded-3xl border-solid border-2 border-black shadow-[0_0_0_4px_hsla(0,0%,100%,.12)] hover:shadow-[0_0_0_.2rem_black] transition-shadow duration-300 ease-in-out"
              href="#"
              target="_blank"
            >
              <span class="button-icon">
                <Image src={IconCheckCircle} alt="USA" width={25} height={25} />
              </span>
              <span class="text-base font-semibold">iOS &amp; Android</span>
            </a>

            <a
              class="button flex gap-2.5 bg-black px-9 py-3 rounded-3xl border-solid border-2 border-black shadow-[0_0_0_4px_hsla(0,0%,100%,.12)] hover:shadow-[0_0_0_.2rem_black] transition-shadow duration-300 ease-in-out"
              href="#"
              target="_blank"
            >
              <span class="button-icon">
                <Image src={IconCheckCircle} alt="USA" width={25} height={25} />
              </span>
              <span class="text-base font-semibold">Web Dashboard</span>
            </a>
          </div>
        </div>
        <div class="relative -mb-48">
          <Image
            src={ImgOnboarding}
            alt="Onboarding"
            width={1304}
            height={670}
          />
        </div>
      </div>
    </div>
  </div>
</div>
