---
import Footer from "../components/astro/UI/Footer.astro";
import Header from "../components/astro/UI/Header.astro";
import Platforms from "../components/astro/UI/home/ Platforms.astro";
import Feature from "../components/astro/UI/home/Feature.astro";
import ListLogo from "../components/astro/UI/home/ListLogo.astro";
import Multichain from "../components/astro/UI/home/Multichain.astro";
import Onboarding from "../components/astro/UI/home/Onboarding.astro";
import Security from "../components/astro/UI/home/Security.astro";
import Testimonial from "../components/astro/UI/home/Testimonial/Testimonial.astro";
import "../tailwind.css";
---

<div class="">
  <Header />
  <div id="main-content" class="bg-black">
    <Onboarding />
    <ListLogo />
    <Multichain />
    <Feature />
    <Security />
    <Testimonial />
    <Platforms />
  </div>
  <Footer />
</div>
